extends ../layout

block content
  .container
    h1.page-header 등록한 방 목록

    h2.page-header 예약 가능
    table.table.table-bordered
      thead
        tr
          th 도시
          th 방이름
          th 숙소 인원(최대)
          th 가격(1박)
          th 예약상태
          th 등록시간
          th 조회수
          th 
      tbody
        each room in rooms
          if (room.reservation == "예약가능")
            tr
              td= room.address
              td
                a(href='/rooms/#{room.id}')= room.title
              td= room.personner
              td= room.rate
              td 
                span= room.reservation
              td= moment(room.createdAt).format('YYYY-MM-DD HH:mm:ss')
              td= room.read
              td
                a.btn.btn-xs.btn-default(href='/rooms/#{room.id}/edit') 수정
                | 
                a.btn.btn-xs.btn-default(href='/rooms/#{room.id}?_method=DELETE') 삭제

    h2.page-header 예약진행중
    table.table.table-bordered
          thead
            tr
              th 도시
              th 방이름
              th 숙소 인원(최대)
              th 가격(1박)
              th 예약상태
              th 예약신청자
              th 조회수
              th 
          tbody
            each room in rooms
              if (room.reservation == "예약진행중")
                tr
                  td= room.address
                  td
                    a(href='/rooms/#{room.id}')= room.title
                  td= room.personner
                  td= room.rate
                  td 
                    span= room.reservation
                  td
                    a.btn.btn-xs.btn-default(href='/books/#{room.id}/show') 상세보기
                  td= room.read
                  td
                    a.btn.btn-xs.btn-default(href='/books/#{room.id}/accept?_method=PUT') 수락하기
                    | 
                    a.btn.btn-xs.btn-default(href='/books/#{room.id}/refuse?_method=PUT') 거절하기
                    | 
                    a.btn.btn-xs.btn-default(href='/rooms/#{room.id}?_method=DELETE') 삭제
          
    h2.page-header 예약완료
    table.table.table-bordered
          thead
            tr
              th 도시
              th 방이름
              th 숙소 인원(최대)
              th 가격(1박)
              th 예약상태
              th 등록시간
              th 조회수
              th 
          tbody
            each room in rooms
              if (room.reservation == "예약완료")
                tr
                  td= room.address
                  td
                    a(href='/rooms/#{room.id}')= room.title
                  td= room.personner
                  td= room.rate
                  td 
                    span= room.reservation
                  td= moment(room.createdAt).format('YYYY-MM-DD HH:mm:ss')
                  td= room.read
                  td
                    a.btn.btn-xs.btn-default(href='/books/#{room.id}/refuse?_method=PUT') 취소하기
                    | 
                    a.btn.btn-xs.btn-default(href='/rooms/#{room.id}?_method=DELETE') 삭제
  
    script(type='text/javascript').
      $(".delete").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('정말 삭제하시겠습니까?')) {
          $("#deleteForm").attr('action', "/rooms/" + id + "?_method=DELETE").submit();          
        }
        return false;
      });