extends ../layout

block content
  .container
    h1.page-header 예약 목록
    table.table.table-bordered
      thead
        tr
          th 주문번호
          th 방이름
          th 예약상태
          th 숙소 인원
          th 총비용
          th 숙박기간
          th 신청인원
          th 신청날짜
          th
      tbody
        each book in books
          tr
            td= book.id
            td
              a(href='/rooms/#{book.id}/host')= book.title
            td= book.reservation
            td= book.personner
            td= book.rate
            td #{moment(book.fromDate).format('YYYY-MM-DD')} ~ #{moment(book.toDate).format('YYYY-MM-DD')} 
            td= book.personner
            td= moment(book.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td
              a.btn.btn-xs.btn-default(href='/books/#{book.id}/cancel?_method=PUT') 취소요청
    
  
