extends ../layout

block content
  .container
    h1.page-header Room List
      a(href='/rooms/lists') (전체보기)
    form(action="/rooms/search", method='POST')
      .row
        .col-lg-6
          .input-group
            input(type="text",name='search',id='search', class="form-control" placeholder="ex)서울시,가평군")
            span.input-group-btn
              button.btn.btn-default(type="submit" ) Search
    br
    .row
      each room in rooms
        .col-sm-4.col-md-3
          .thumbnail
            img(src=room.images[0])
            .caption
              h2.Thumbnail ￦ #{room.rate} /(1박)
              h3.Thumbnail #{room.title} (#{room.city})
              h4.Thumbnail= room.roomsort
              p
                span= room.reservation
              p 
                a.btn.btn-primary(href="/rooms/#{room.id}" role="button") 상세 보기
                a.btn.btn-default(href="/reviews/#{room._id}" role="button") 후기 보기
    a.btn.btn-primary(href='/rooms/hosting') 숙소 등록하기


    

            
