extends ../layout

block content
  .container
    h1.page-header Review

    table.table.table-bordered
      thead
        tr
          th 작성자
          th 제목
          th 등록시간
          th 조회수
          th 댓글수
          th 
      tbody
        each review in reviews
          tr
            td= review.name
            td
              a(href='/reviews/#{review.id}/show')= review.title
            td= moment(review.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td= review.read
            td= review.opinion
            td
              if(!currentUser)
              else if (currentUser.email == review.email)
                a.btn.btn-xs.btn-default(href='/reviews/#{review.id}/edit') 수정
                | 
                a.btn.btn-xs.btn-default(href='#') 삭제
    a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
    a.btn.btn-primary(href='/reviews/#{room.id}/new') 후기 쓰기
   

            
