extends ../layout

block content
  .container
    h1.page-header 회원정보 수정
    form(action='/users/#{user._id}?_method=PUT', method='POST')
      .form-group
        label(for='name') Name
        input.form-control(type='text', id='name', name='name', placeholder='Your name', value=user.name)
      .form-group
        label(for='email') Email address
        input.form-control(type='email', id='email', name='email', placeholder='Email', value=user.email)
      .form-group
        label(for='current_password') 현재 Password
        input.form-control(type='password', id='current_password', name='current_password', placeholder='현재 Password')
      .form-group
        label(for='password') 변경할 Password
        input.form-control(type='password', id='password', name='password', placeholder='변경할 Password')
      .form-group
        label(for='password_confirmation') Password 확인
        input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='변경할 Password 확인')
      .form-group
        label(for='address') 주소
        input(type="text",id="postcode", placeholder="우편번호", name='postcode', value=user.postcode)
        input(type="button",onclick="execDaumPostcode()", value="우편번호 찾기")
        br
        input.form-control(type="text", id="address", placeholder="주소", name='address', value=user.address)
        input.form-control(type="text", id="address2", placeholder="상세주소", name='address2', value=user.address2)
      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 수정


  script(type='text/javascript', src='/javascripts/address.js') 
