extends ../layout

block content
  .container
    h1.page-header 회원 정보
          
    ul
      li 이름: #{user.name}
      li 이메일: #{user.email}
      li 주소: #{user.address} #{user.address2} 
      if user.facebook
        li Facebook 
          img.img-circle(src='#{user.facebook.photo}')
    hr
    p
      if (currentUser.id == user.id)
        a.btn.btn-default(href='/books/#{user._id}/managementBook') 예약 목록
        | 
        a.btn.btn-default(href='/books/#{user._id}/managementHost') 방 목록
        | 
        a.btn.btn-default(href='/users/#{user._id}/edit') 수정
        | 
        a.btn.btn-default(href='/users/show/#{user._id}?_method=DELETE') 회원탈퇴
